:root {
  --brand-color: #434455;
  --header-link-color: #2e2f42;
  --logo-color: #4d5ae5;
  --background-color: #ffffff;
}
/* styles for index.html */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--brand-color);
  background-color: var(--background-color);
}
/**
  |============================
  | header section
  |============================
*/

.link {
  text-decoration: none;
}
/* logo */
.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-color);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-logo-item {
  color: var(--header-link-color);
}

/* navigation */
.nav {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
/* defolt */
.list {
  list-style: none;
}
.list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
}
.list .link:hover,
.list .link:focus {
  color: #404bbf;
}

/* address */
.address {
  font-style: normal;
}
.address-item.link {
  color: var(--brand-color);
}
/**
  |============================
  | hero section
  |============================
*/

.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  line-height: 1.07;
}

/* batton */
.btn {
  background-color: var(--logo-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/**
  |============================
  | features section
  |============================
*/

.features-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
}
.features-paragraf {
  letter-spacing: 0.02em;
}
/**
  |============================
  | product section
  |============================
*/

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--header-link-color);
}
/**
  |============================
  | team seection
  |============================
*/

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}
.team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
}
.team-posicion {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}
/**
  |============================
  | footer
  |============================
*/

.footer {
  background-color: var(--header-link-color);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-color);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-logo-item,
.footer .text {
  color: #f4f4fd;
}

/**
  |============================
  | portfolio page
  |============================
*/
/* filter */
.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background: #f4f4fd;
  color: var(--logo-color);
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* product */
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--header-link-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
